<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tomcat.remindmeapp">

    <uses-permission android:name="com.example.tomcat.remindmeapp.TERMS_READ" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AddReminderActivity -->
        <activity
            android:name="com.example.tomcat.remindmeapp.AddReminderActivity"
            />

        <provider
            android:authorities="com.example.tomcat.remindmeapp"
            android:name="com.example.tomcat.remindmeapp.data.AppContentProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider">
        </provider>


    </application>

</manifest>